<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" type="image/png" href="assets/img/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="node_modules/vue-search-select/dist/VueSearchSelect.css" />
    <link rel="stylesheet" type="text/css" href="dist/css/vidden.min.css" />

    <link href="https://fonts.googleapis.com/css?family=Roboto&amp;display=swap" rel="stylesheet">
    <link href="node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <title>Vidden</title>
</head>
<body>
    <div id="app">

        <div id="header-section">
            <div class="col-1">
                <div class="logo-container"></div>
            </div>
            <div class="col-10" v-if="loggedIn">
                <current-user></current-user>
            </div>
            <div class="header"></div>
        </div>

        <div v-if="!loggedIn">
            <app-login></app-login>
        </div>

        <div v-if="loggedIn">
            <router-view />
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <span class="text-muted text-left">&copy; 2019 Vidden</span>
          </div>
    </footer>
</body>
<script src="dist/js/bundle.min.js"></script>
</html>