$color-windesheim-yellow: #F7CE23;
$color-windesheim-green: #45B97C;
$color-windesheim-green-hover: #B1D249;
$color-windesheim-grey: #D0D2D3;
$color-windesheim-black: #231F20;

$color-windesheim-light-blue: #4594D3;
$color-windesheim-light-blue-hover: #1EBCC5;

$color-white: #fff;