@import "logo";
@import "action";
@import "header";
@import "dashboard";
@import "assessment";
@import "wizard";
@import "footer";
@import "tabs";
@import "pagination";
@import "cards";
@import "flashmessage";