.action {
  &__container {
    color: $color-windesheim-green;
    background-color: $color-white;
    border: 1px solid $color-windesheim-green;
    text-align: center;
    padding: 30px;
    margin-bottom: 15px;
    font-size: 12px;

    &:hover {
      background-color: $color-windesheim-green-hover;
      cursor: pointer;
      color: $color-white;
    }
  }
}

a.action {
  text-decoration: none;
}