.action {
  &__container {
    color: $color-windesheim-green;
    background-color: $color-white;
    border: 1px solid $color-windesheim-green;
    text-align: center;
    padding: 30px;
    margin-bottom: 15px;
    font-size: 12px;
    text-transform: uppercase;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.24), 0 1px 5px 0 rgba(0,0,0,.12);

    &:hover {
      background-color: $color-windesheim-green-hover;
      cursor: pointer;
      color: $color-white;
    }
  }
}

a.action {
  text-decoration: none;
}