$excellent: $color-windesheim-green;
$good: #B1D249;
$proficient: $color-windesheim-yellow;
$poor: #F16682;

.assessment {
    &__question {
        margin-top: 15px;
        font-weight: 400;
        font-style: italic;
    }

    &__answer {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid;
        border-left-width: .25rem;
        border-radius: 1px;
        margin: 15px;
        z-index: 1;

        &-body {
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            padding: 1.25rem;
        }

        &-mark {
            vertical-align: middle;
            display: inline;
            margin-right: 4px;

            &.excellent {
                color: $excellent;
            }
            &.good {
                color: $good;
            }
            &.proficient {
                color: $proficient;
            }
            &.poor {
                color: $poor;
            }
            &.active {
            	color: $color-white;
            }

            &.terms {
                display: block;
            }
        }

        &-radio {
            position: absolute;
            width: 100%;
            height: 100%;
            display: block;
            cursor: pointer;
            z-index: 2;
            left: 0;
            top: 0;
            opacity: 0;
        }
    }
}

.excellent {
    border-left-color: $excellent;
    border-color: darken($excellent, 10%);
}

#excellent {
    &.active {
        background-color: $excellent;
        color: $color-white;
    }
}

.good {
    border-left-color: $good;
    border-color: darken($good, 10%);
}

#good {
    &.active {
        background-color: $good;
        color: $color-white;
    }
}

.proficient {
    border-left-color: $proficient;
    border-color: darken($proficient, 10%);
}

#proficient {
    &.active {
        background-color: $proficient;
        color: $color-white;
    }
}


.poor {
    border-left-color: $poor;
    border-color: darken($poor, 10%);
}

#poor {
    &.active {
        background-color: $poor;
        color: $color-white;
    }
}

.keyword + .keyword:before {
    content: ", ";
}