.assessment {
    &__question {
        margin-top: 15px;
        font-weight: 400;
        font-style: italic;
    }

    &__answer {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid;
        border-left-width: .25rem;
        border-radius: 1px;
        margin: 15px;
        z-index: 1;

        &--body {
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            padding: 1.25rem;
        }

        &--mark {
            vertical-align: middle;
            display: inline;
            margin-right: 4px;

            &--excellent {
                color: $excellent;
            }

            &--good {
                color: $good;
            }

            &--proficient {
                color: $proficient;
            }

            &--poor {
                color: $poor;
            }

            &--active {
            	color: $color-white;
            }

            &--terms {
                display: block;
            }
        }

        &--radio {
            position: absolute;
            width: 100%;
            height: 100%;
            display: block;
            cursor: pointer;
            z-index: 2;
            left: 0;
            top: 0;
            opacity: 0;
        }
    }
}

.status {
    &--new {
        background-color: $color-white;
        color: $color-black;
        border: 1px solid $color-black;
    }

    &--in_progress {
        background-color: $color-windesheim-yellow;
        color: $color-white;
    }

    &--completed {
        background-color: $color-windesheim-light-blue;
        color: $color-white;
    }

    &--final {
        background-color: $color-windesheim-green;
        color: $color-white;
    }
}

.badge-pill {
    margin-top: 10px;
}

.final-mark {
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.12);
    display: block;
    margin: 0 auto;
    padding: 4px 0;
    background: 0 0;
    text-align: center;
    color: inherit;
    width: 50%;
}

.excellent {
    border-color: darken($excellent, 10%);

    &--active {
        background-color: $excellent;
        color: $color-white;
    }
}
.good {
    border-color: darken($good, 10%);

    &--active {
        background-color: $good;
        color: $color-white;
    }
}

.proficient {
    border-color: darken($proficient, 10%);

    &--active {
        background-color: $proficient;
        color: $color-white;
    }
}

.poor {
    border-color: darken($poor, 10%);

    &--active {
        background-color: $poor;
        color: $color-white;
    }
}

.keyword + .keyword:before {
    content: ", ";
}

input:disabled, button:disabled {
    cursor: not-allowed;
}