.card {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.24), 0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 1px;
    margin: 15px;

    &-body {
        background: none;

        > h6.card-subtitle {
            margin-bottom: 15px;
        }

        > a > button.btn.btn-info {
            border-radius: 1px;
            background-color: $color-windesheim-green;
            border-color: darken($color-windesheim-green, 10%);

            &:hover {
                background-color: darken($color-windesheim-green, 10%);
            }
        }
    }

    &-footer {
        background: none;
        border-top: 1px solid rgba(0, 0, 0, .1);
    }

}