.card {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.24), 0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 1px;
    margin: 15px;

    &-body {
        background: none;

        > h6.card-subtitle {
            margin-bottom: 15px;
        }
    }

    &-footer {
        background: none;
        border-top: 1px solid rgba(0, 0, 0, .1);
    }

}

@keyframes flipInX {
	from {
		transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		animation-timing-function: ease-in;
		opacity: 0;
	}

	40% {
		transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		animation-timing-function: ease-in;
	}

	60% {
		transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		opacity: 1;
	}

	80% {
		transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
	}

	to {
		transform: perspective(400px);
	}
}

.flipInX {
	backface-visibility: visible !important;
    animation-name: flipInX;
    animation-duration: 800ms;
}