$excellent: $color-windesheim-green;
$good: #B1D249;
$proficient: $color-windesheim-yellow;
$poor: #F16682;

.card {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.24), 0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 1px;
    margin: 15px;

    &-body {
        background: none;

        > h6.card-subtitle {
            margin-bottom: 15px;
        }
    }

    &-footer {
        background: none;
        border-top: 1px solid rgba(0, 0, 0, .1);
    }

    &.excellent {
        background-color: $excellent;
        color: $color-white;
    }

    &.good {
        background-color: $good;
        color: $color-white;
    }

    &.proficient {
        background-color: $proficient;
        color: $color-white;
    }

    &.poor {
        background-color: $poor;
        color: $color-white;
    }

}