.header {
  background-image: url("../../assets/img/190523-308_home_desktop.jpg");
  width: 100%;
  height: 200px;
  position: absolute;
  top: 0;
  z-index: -999;

  &__user {
    position: absolute;
    bottom: 25px;
    color: $color-white;
    right: 0;
  }
}

@include media-breakpoint-up(sm) {
  .header {
    top: 140px;
    position: inherit;

    &__user {
      bottom: 20px;
      color: $color-windesheim-light-blue;
  
      &:hover {
        color: $color-windesheim-light-blue-hover;
        cursor: pointer;
      }
    }
  }
}