.header {
  background-image: url("../../assets/img/190523-308_home_desktop.jpg");
  width: 100%;
  height: 200px;

  &__user {
    position: absolute;
    right: 0;
    bottom: 10px;
    color: $color-windesheim-light-blue;

    &:hover {
      color: $color-windesheim-light-blue-hover;
      cursor: pointer;
    }
  }
}

@media (max-width: 576px) {
  .header {
    top: 0;
    position: absolute;
    z-index: -999;

    &__user {
      bottom: 22px;
      color: $color-white;
    }
  }
}