.header {
  background-image: url("../../assets/img/190523-308_home_desktop.jpg");
  width: 100%;
  height: 200px;
}

@media (max-width: 576px) {
  .header {
    top: 0;
    position: absolute;
    z-index: -999;
  }
}