$color_1: rgb(33, 37, 41);
$color_2: rgb(108, 117, 125);
$color_3: rgb(255, 255, 255);
$font_family_1: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$background_color_1: rgb(255, 255, 255);
$background_color_2: rgb(0, 123, 255);
$border_color_1: rgb(222, 226, 230);
$border_color_2: rgb(0, 123, 255);

.pagination {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-sizing: border-box;
  color: $color_1;
  display: flex;
  font-family: $font_family_1;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 8px;
  margin-top: 8px;
  padding-left: 0px;
  text-align: left;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  li {
    a {
      background-color: $background_color_1;
      border-bottom-color: $border_color_1;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-image-outset: 0px;
      border-image-repeat: stretch;
      border-image-slice: 100%;
      border-image-source: none;
      border-image-width: 1;
      border-left-color: $border_color_1;
      border-left-style: solid;
      border-left-width: 1px;
      border-right-color: $border_color_1;
      border-right-style: solid;
      border-right-width: 1px;
      border-top-color: $border_color_1;
      border-top-style: solid;
      border-top-width: 1px;
      color: $color_2;
      cursor: auto;
      display: block;
      line-height: 20px;
      margin-left: 0px;
      padding-bottom: 8px;
      padding-left: 12px;
      padding-right: 12px;
      padding-top: 8px;
      position: relative;
    }
  }

  .page-item.active {
    a {
      background-color: $color-windesheim-light-blue;
      border-bottom-color: $border_color_2;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-image-outset: 0px;
      border-image-repeat: stretch;
      border-image-slice: 100%;
      border-image-source: none;
      border-image-width: 1;
      border-left-color: $border_color_2;
      border-left-style: solid;
      border-left-width: 1px;
      border-right-color: $border_color_2;
      border-right-style: solid;
      border-right-width: 1px;
      border-top-color: $border_color_2;
      border-top-style: solid;
      border-top-width: 1px;
      color: $color_3;
      cursor: pointer;
      display: block;
      line-height: 20px;
      margin-left: -1px;
      padding-bottom: 8px;
      padding-left: 12px;
      padding-right: 12px;
      padding-top: 8px;
      position: relative;
      text-decoration-color: rgb(255, 255, 255);
      text-decoration-line: none;
      text-decoration-style: solid;
      z-index: 1;
    }
  }
}
