$color_1: rgb(33, 37, 41);
$color_2: rgb(108, 117, 125);
$color_3: rgb(255, 255, 255);
$background_color_1: rgb(255, 255, 255);
$background_color_2: rgb(0, 123, 255);
$border_color_1: $color-windesheim-grey;
$border_color_2: darken($color-windesheim-light-blue, 10%);

.pagination {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  box-sizing: border-box;
  cursor: pointer;
  color: $color-windesheim-light-blue;
  display: flex;
  margin-bottom: 8px;
  margin-top: 8px;
  padding-left: 0px;
  -webkit-tap-highlight-color: $color-black;

  li {
    border: 1px solid $border_color_1;
    color: darken($color-windesheim-grey, 20%);
    cursor: pointer;
    display: block;
    line-height: 20px;
    margin-left: 0px;
    padding: 8px 12px;
    position: relative;

    &.page-item {

      &.active {
        background-color: $color-windesheim-light-blue;
        border: 1px solid $border_color_2;
        & > a {        
          color: $color-white;
          margin-left: -1px;
          text-decoration-color: rgb(255, 255, 255);
          text-decoration-line: none;
          text-decoration-style: solid;
        }
      }

      &.disabled {
        a {
          cursor: not-allowed;
          text-decoration: none;
        }
      }
    }
    &.disabled {
      a {
        cursor: not-allowed;
        text-decoration: none;
      }
    }
  }
}