// Override the default styles
.bm-burger-button {
  position: fixed;
  width: 0px;
  height: 0px;
  left: 0px;
  top: 0px;
  cursor: pointer;
}
.bm-burger-bars {
  background-color: transparent;
}
.line-style {
  position: absolute;
  height: 20%;
  left: 0;
  right: 0;
}
.cross-style {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}
.bm-cross {
  background: transparent;
}
.bm-cross-button {
  height: 0px;
  width: 0px;
}
.bm-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  background-color: inherit;
  overflow-x: hidden;
  padding-top: 0px;
  transition: 0.1s;
}

.bm-overlay {
  background: transparent;
}
.bm-item-list {
  color: transparent;
  margin-left: 0;
  font-size: inherit;
}
.bm-item-list > * {
  display: flex;
  text-decoration: none;
  padding: 0px;
}
.bm-item-list > * > span {
  margin-left: 0px;
  font-weight: 400;
  color: transparent;
}

// Now we style
.sidebar {

  * {
    box-sizing: border-box;
  }

  .bm {

    &-burger {
      &-button {
        position: fixed;
        width: 36px;
        height: 30px;
        left: 36px;
        top: 36px;
        cursor: pointer;
      }

      &-bars {
        background-color: #373a47;
      }
    }

    &-menu {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      display: flex;
      flex-direction: column;
      z-index: 999;
      box-sizing: border-box;
      width: 0;
      transition: 0.3s;
      padding-top: 20px;
      background-color: #f2f2f2;
      overflow: hidden;
    }

    &-item-list {
      width: 100%;
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      margin: 0;
      font-size: inherit;
      color: $color-windesheim-black;

      &>* {
        display: flex;
        text-decoration: none;
        padding: 0.7em;
      }

      &>*>span {
        margin-left: 10px;
        font-weight: 700;
        color: white;
      }
    }
  }

  .group {

    position: relative;
    display: block;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    &-title {
      white-space: nowrap;
      font-weight: 600;
      padding: 10px;
      white-space: nowrap;
      text-transform: uppercase;

      &:hover {
        background-color: #f2f2f2;
      }
    }

    &:last-child {
      border-bottom: none;
    }

    .child {

      display: block;
      box-shadow: 3px 0px 0px 0px $poor inset;
      margin-left: 5px;
      margin-top: 3px;

      &-title {
        margin-left: 10px;
      }

      &.checked {
        box-shadow: 3px 0px 0px 0px $color-windesheim-green inset;
      }

      &:hover {
        margin-left: 15px;
        transition: 0.2s;
      }
    }
  }

  @keyframes slide-animation {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }
}