@mixin borderAnswer($answer) {
  border-left: 5px solid $answer;

  @media (min-width: 576px) {
    border-left: none;
    border-right: 5px solid $answer
  }
}

.sidebar {

  * {
    box-sizing: border-box;
  }

  .bm {

    &-burger {
      &-button {
        position: fixed;
        width: 36px;
        height: 30px;
        left: 36px;
        top: 36px;
        cursor: pointer;
      }

      &-bars {
        background-color: #373a47;
      }
    }

    &-menu {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      display: flex;
      flex-direction: column;
      z-index: 999;
      box-sizing: border-box;
      width: 30px;
      transition: 0.3s;
      padding-top: 20px;
      background-color: $color-white;
      overflow: hidden;
      box-shadow: 1px 0 2px 1px rgba(0, 0, 0, 0.18);
    }

    &-item-list {
      width: 100%;
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      margin: 0;
      font-size: inherit;
      color: $color-windesheim-black;

      & > * {
        display: flex;
        text-decoration: none;
        padding: 0.7em;
      }

      & > * > span {
        margin-left: 10px;
        font-weight: 700;
        color: white;
      }
    }

    @media (min-width: 576px) {
    	&-menu {
    		width: 0;
    	}
    }

  }

  .group {
    position: relative;
    display: block;
    width: 100%;
    
    &-title {
      white-space: nowrap;
      font-weight: 600;
      padding: 10px;
      text-transform: uppercase;
    }

    .child {
      display: block;
      margin-left: 5px;
      margin-top: 3px;

      &-title {
        margin-left: 10px;
      }

      &.excellent {
        @include borderAnswer($excellent)
      }
      &.good {
        @include borderAnswer($good);
      }
      &.proficient {
        @include borderAnswer($proficient);
      }
      &.poor {
        @include borderAnswer($poor);
      }

      &:hover {
        margin-left: 10px;
        transition: 0.2s;
      }
    }
  }

  @keyframes slide-animation {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }
}