$primary-color: #4285f4 !default;
$base-bg: #2a2a2e !default;

$item-color: #fff !default;

$item-active-color: $item-color !default;

$item-open-color: $item-color !default;
$item-open-bg: $primary-color !default;

$item-hover-color: $item-color !default;
$item-hover-bg: rgba(darken( $base-bg, 5% ), 0.5) !default;

$icon-color: $item-color !default;
$icon-bg: darken( $base-bg, 5% ) !default;

$icon-active-color: $item-color !default;
$icon-active-bg: $icon-bg !default;

$icon-open-color: $item-color !default;
$icon-open-bg: $primary-color !default;

$mobile-item-color: $item-color !default;
$mobile-item-bg: $primary-color !default;
$mobile-icon-color: $mobile-item-color !default;
$mobile-icon-bg: $mobile-item-bg !default;

$dropdown-bg: lighten( $base-bg, 5% ) !default;
$dropdown-color: $item-color !default;

$item-font-size: 16px !default;
$item-line-height: 30px !default;
$item-padding: 10px !default;
$icon-height: 30px !default;
$icon-width: 30px !default;

.v-sidebar-menu {
    * {
      box-sizing: border-box;
    }
  
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 999;
    box-sizing: border-box;
    width: 100%;
    transition: 0.3s max-width;
    
    > .vsm--list {
      width: 100%;
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
    }
    
    .vsm--dropdown > .vsm--list {
      padding: 5px;
    }
    
    .vsm--item {
      position: relative;
      display: block;
      width: 100%;
    }
  
    .vsm--link {
      cursor: pointer;
      position: relative;
      display: block;
      font-size: $item-font-size;
      font-weight: 400;
      padding: $item-padding;
      line-height: $item-line-height;
      text-decoration: none;
      user-select: none;
      z-index: 20;
      transition: 0.3s all;
      &_exact-active,
      &_active {
        font-weight: 600;
      }
      &_disabled {
        opacity: 0.4;
        pointer-events: none;
      }
      &_level-1 {
        .vsm--icon {
          height: $icon-height;
          line-height: $icon-height;
          width: $icon-width;
          text-align: center;
          border-radius: 3px;
        }
      }
      &:after {
        content: '';
        display: block;
        clear: both;
      }
      &_mobile-item {
        background-color: transparent;
        &.vsm--link_hover,
        &:hover {
          background-color: transparent !important;
        }
      }
    }
  
    .vsm--title {
      display: block;
      white-space: nowrap;
    }
  
    .vsm--icon {
      float: left;
      line-height: $item-line-height;
      margin-right: 10px;
    }
  
    .vsm--arrow {
      width: 30px;
      text-align: center;
      font-style: normal;
      font-weight: 900;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      transition: 0.3s transform;
      &:after {
        content: '\f105';
        font-family: 'Font Awesome 5 Free';
      }
      &_open {
        transform: translateY(-50%) rotate(90deg);
      }
      &_slot:after {
        display: none;
      }
    }
  
    .vsm--header {
      font-size: 14px;
      font-weight: 600;
      padding: 10px;
      white-space: nowrap;
      text-transform: uppercase;
    }
  
    .vsm--badge {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      &_default {
        padding: 0px 6px;
        font-size: 12px;
        border-radius: 3px;
        height: 20px;
        line-height: 20px;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  
    .vsm--toggle-btn {
      display: block;
      text-align: center;
      font-style: normal;
      font-weight: 900;
      height: 50px;
      cursor: pointer;
      border: none;
      width: 100%;
      &:after {
        content: '\f337';
        font-family: 'Font Awesome 5 Free';
      }
      &_slot:after {
        display: none;
      }
    }
  
    &.vsm_collapsed {
      & .vsm--link_level-1 {
        &.vsm--link_hover,
        &:hover {
          background-color: transparent !important;
        }
        & .vsm--icon {
          margin-right: 0px;
        }
      }
    }
  
    &.vsm_rtl {
      right: 0;
      left: inherit;
      text-align: right;
      & > .vsm--list {
        direction: rtl;
      }
      &.vsm_collapsed > .vsm--list {
        & .vsm--link_level-1 {
          & .vsm--icon {
            margin-left: 0px;
          }
        }
      }
      & .vsm--icon {
        float: right;
        margin-left: 10px;
        margin-right: 0px;
      }
      & .vsm--arrow {
        left: 10px;
        right: inherit;
      }
      & .vsm--badge {
        left: 10px;
        right: inherit;
      }
    }
  
    .expand-enter-active,
    .expand-leave-active {
      transition: height 0.35s ease;
      overflow: hidden;
    }
    .expand-enter,
    .expand-leave-to {
      height: 0 !important;
    }
    .slide-animation-enter-active {
      animation: slide-animation 0.2s;
    }
    .slide-animation-leave-active {
      animation: slide-animation 0.2s reverse;
    }
    @keyframes slide-animation {
      0% {
        width: 0%;
      }
      100% {
        width: 100%;
      }
    }
    .vsm--mobile-item>.vsm--item {
      padding-top: 0 !important;
      margin-top: 0 !important;
    }
  }

  @import "./node_modules/vue-sidebar-menu/src/scss/themes/default-theme";
  @import "./node_modules/vue-sidebar-menu/src/scss/themes/white-theme";
