.vue {
    box-sizing: border-box;
    display: block;
    line-height: 24px;
    overflow-wrap: break-word;

  &-tablist {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 65px;
    margin-bottom: 0px;
    padding-bottom: 12px;
    padding-top: 12px;
    padding-inline-start: 0;
  }

  &-tabpanel {
  	flex-basis: auto;
  	flex-grow: 1;
  	flex-shrink: 1;
  	padding-bottom: 20px;
  	padding-top: 20px;
  	text-size-adjust: 100%;
  	-webkit-tap-highlight-color: $color-black;
  }

  &-tab {
    box-sizing: border-box;
    border-radius: 1px;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    line-height: 24px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    overflow-wrap: break-word;
    
    &[aria-selected="true"] {
      background-color: $color-windesheim-green;
      border-color: darken($color-windesheim-green, 10%);
      color: $color-white;
    }

    &[aria-selected="false"] {
      background-color: transparent;
      color: $color-windesheim-green;
    }
  }
}

