.toggle-handle {
  background-color: $color-white;
}

.btn-primary {
  background-color: $color-windesheim-light-blue;

  &:hover {
    cursor: pointer;
    border-color: $color-windesheim-light-blue-hover;
    background-color: $color-windesheim-light-blue-hover;
  }
}

.btn-default {
  border-color: #adadad;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btn:active, .btn.active {
  cursor: pointer;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}