.wizard {
  &__arrow {
    // FILL
  }
  
  &__body {
    border: 0px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.24), 0 1px 5px 0 rgba(0, 0, 0, .12);

    &__actions {
      background-color: $color-white !important;

      &:hover {
        color: $color-white !important;
      }
    }
  }

  &__next {
    background-color: $color-windesheim-green !important;

    &:hover {
      background-color: $color-windesheim-green-hover !important;
    }
  }

  &__back {
    background-color: $color-windesheim-green !important;

    &:hover {
      background-color: $color-windesheim-green-hover !important;
    }
  }

  &__step {
    &__indicator {
      background-color: $color-windesheim-light-blue !important;
    }
  }
}

.wizard__step.active .wizard__step__indicator {
  background-color: $color-windesheim-green !important;
}