@import "settings/_settings";
@import "./node_modules/bootstrap/scss/_functions.scss";
@import "./node_modules/bootstrap/scss/_variables.scss";
@import "./node_modules/bootstrap/scss/mixins/_breakpoints.scss";
@import "bootstrap";
@import "components/_components";

html, body {
  width: 100%;
  height: 100%;
}

html {
  font: 0.875em/1.57143 "Roboto", sans-serif !important;
  color: $color-windesheim-black !important;
}

body {
  display: flex;
  flex-direction: column;
}

#app {
  flex: 1 0 auto;
}

.padding-right-0 {
  padding-right: 0;
}

.padding-left-0 {
  padding-left: 0;
}

a {
  color: $color-windesheim-light-blue;
}

a:hover {
  color: $color-windesheim-light-blue-hover;
  text-decoration: none;
}

.path {
  & a:hover {
    text-decoration: underline;
  }
}

#buttonLoader {
  display: -webkit-flex; 
  align-items: center;
}

#spinner {
  z-index: 999;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    &--full-top {
      top: 100%;
    }
}

.overlay {
  opacity: 0.3;
}

.cursor-pointer {
  cursor: pointer;
}

[v-cloak] {
    display: none;
}

.no-link {
  color: $color-windesheim-black;
}

.password_field {
  display: inline-block;
  position: relative;
  overflow: hidden;

  &__toggle {
    position: absolute;
    top: 6px;
    right: 20px;
    transition: right 0.2s;
  }
}

.badge.badge-pill.badge {
  &.new {
    background-color: $color-windesheim-yellow;
    color: $color-black;
  }

  &.in_progress {
    background-color: #b99445;
    color: $color-white;
  }

  &.completed {
    background-color: #b9a845;
    color: white;
  }

  &.final {
    background-color: #9cb945;
    color: white;
  }
}

.finalMarkInput {
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.12);
  display: block;
  margin: 0 auto;
  padding: 4px 0;
  background: 0 0;
  text-align: center;
  color: inherit;
  width: 50%;
}

.table-summary {
  width: 90%;
}