@import "settings/_settings";
@import "components/_components";
@import "bootstrap";

html, body {
  width: 100%;
  height: 100%;
}

html {
  font: 0.875em/1.57143 "Roboto", sans-serif !important;
  color: $color-windesheim-black !important;
}

body {
  display: flex;
  flex-direction: column;
}

#app {
  flex: 1 0 auto;
}

.padding-right-0 {
  padding-right: 0;
}

.padding-left-0 {
  padding-left: 0;
}

a {
  color: $color-windesheim-light-blue;
}

a:hover {
  color: $color-windesheim-light-blue-hover;
}

#buttonLoader {
  display: -webkit-flex; 
  -webkit-align-items: center;
}

#spinner {
  width:70px;
}

[v-cloak] {
    display: none;
}