@import "settings/_settings";
@import "components/_components";
@import "bootstrap";

html {
  font-family: "Roboto", sans-serif !important;
  font: 0.875em/1.57143 "Roboto", sans-serif !important;
  color: $color-windesheim-black !important;
}

body {
  width: 100%;
}

.padding-right-0 {
  padding-right: 0;
}